# Hye Today We Will Plot Live Covid 19 Data With Pandas,Numpy And Matplotlib

In [1]:
import pandas as pd
import numpy as np

# Here We Are Importing Pandas And Numpy With Their Alias

In [2]:
confirmedCases = pd.read_csv("death.csv") # We have Covid confirmed cases data in confirmed.csv which we are reading through pandas function read_csv

In [3]:
confirmedCases.head() # Let examine first few lines of our data

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/21/20,5/22/20,5/23/20,5/24/20,5/25/20,5/26/20,5/27/20,5/28/20,5/29/20,5/30/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,193,205,216,218,219,220,227,235,246,249
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,31,31,31,32,32,33,33,33,33,33
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,575,582,592,600,609,617,623,630,638,646
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,51,51,51,51,51,51,51,51,51,51
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,3,3,4,4,4,4,4,4,4,4

In [4]:
confirmedCases = confirmedCases.drop(['Province/State','Lat','Long'],axis=1) # here we notice that latitude and longitude are of no use so we will delete them plus region/provinces because we only need data of countries
confirmedCases = confirmedCases.sort_values(by=['5/30/20'] , ascending = False) # here we are plotting for first 15 countries so we will sort them in descending order by the latest
confirmedCases

,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,5/21/20,5/22/20,5/23/20,5/24/20,5/25/20,5/26/20,5/27/20,5/28/20,5/29/20,5/30/20
225,US,0,0,0,0,0,0,0,0,0,...,94702,95978,97086,97719,98219,98912,100417,101616,102809,103776
223,United Kingdom,0,0,0,0,0,0,0,0,0,...,36042,36393,36675,36793,36914,37048,37460,37837,38161,38376
137,Italy,0,0,0,0,0,0,0,0,0,...,32486,32616,32735,32785,32877,32955,33072,33142,33229,33340
28,Brazil,0,0,0,0,0,0,0,0,0,...,20047,21048,22013,22666,23473,24512,25598,26754,27878,28834
116,France,0,0,0,0,0,0,0,0,0,...,28167,28241,28284,28317,28407,28480,28546,28611,28663,28720
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Saint Vincent and the Grenadines,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
233,Grenada,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
93,Denmark,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
92,Denmark,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
265,Lesotho,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
confirmedCases = confirmedCases.iloc[0:15,:] # here we have taken only top 15 countries with most confirmed cases
confirmedCases

,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,5/21/20,5/22/20,5/23/20,5/24/20,5/25/20,5/26/20,5/27/20,5/28/20,5/29/20,5/30/20
225,US,0,0,0,0,0,0,0,0,0,...,94702,95978,97086,97719,98219,98912,100417,101616,102809,103776
223,United Kingdom,0,0,0,0,0,0,0,0,0,...,36042,36393,36675,36793,36914,37048,37460,37837,38161,38376
137,Italy,0,0,0,0,0,0,0,0,0,...,32486,32616,32735,32785,32877,32955,33072,33142,33229,33340
28,Brazil,0,0,0,0,0,0,0,0,0,...,20047,21048,22013,22666,23473,24512,25598,26754,27878,28834
116,France,0,0,0,0,0,0,0,0,0,...,28167,28241,28284,28317,28407,28480,28546,28611,28663,28720
201,Spain,0,0,0,0,0,0,0,0,0,...,27940,28628,28678,28752,26834,27117,27117,27119,27121,27125
158,Mexico,0,0,0,0,0,0,0,0,0,...,6510,6989,7179,7394,7633,8134,8597,9044,9415,9779
23,Belgium,0,0,0,0,0,0,0,0,0,...,9186,9212,9237,9280,9312,9334,9364,9388,9430,9453
120,Germany,0,0,0,0,0,0,0,0,0,...,8203,8228,8261,8283,8309,8372,8428,8470,8504,8530
133,Iran,0,0,0,0,0,0,0,0,0,...,7249,7300,7359,7417,7451,7508,7564,7627,7677,7734
169,Netherlands,0,0,0,0,0,0,0,0,0,...,5775,5788,5811,5822,5830,5856,5871,5903,5931,5951
131,India,0,0,0,0,0,0,0,0,0,...,3584,3726,3868,4024,4172,4344,4534,4711,4980,5185
187,Russia,0,0,0,0,0,0,0,0,0,...,3099,3249,3388,3541,3633,3807,3968,4142,4374,4555
213,Turkey,0,0,0,0,0,0,0,0,0,...,4249,4276,4308,4340,4369,4397,4431,4461,4489,4515
62,China,17,17,24,40,52,76,125,125,162,...,4512,4512,4512,4512,4512,4512,4512,4512,4512,4512

In [6]:
confirmedCases = confirmedCases.reset_index() # lets reset index to have clear view
confirmedCases = confirmedCases.drop(['index'],axis=1) # we will drop old index and axis = 1 means we will not use it that old index as our column
confirmedCases = confirmedCases.rename(columns={'Country/Region': 'index'}) # here we are renaming country/region to index which you will understand in a while
confirmedCases

,index,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,5/21/20,5/22/20,5/23/20,5/24/20,5/25/20,5/26/20,5/27/20,5/28/20,5/29/20,5/30/20
0,US,0,0,0,0,0,0,0,0,0,...,94702,95978,97086,97719,98219,98912,100417,101616,102809,103776
1,United Kingdom,0,0,0,0,0,0,0,0,0,...,36042,36393,36675,36793,36914,37048,37460,37837,38161,38376
2,Italy,0,0,0,0,0,0,0,0,0,...,32486,32616,32735,32785,32877,32955,33072,33142,33229,33340
3,Brazil,0,0,0,0,0,0,0,0,0,...,20047,21048,22013,22666,23473,24512,25598,26754,27878,28834
4,France,0,0,0,0,0,0,0,0,0,...,28167,28241,28284,28317,28407,28480,28546,28611,28663,28720
5,Spain,0,0,0,0,0,0,0,0,0,...,27940,28628,28678,28752,26834,27117,27117,27119,27121,27125
6,Mexico,0,0,0,0,0,0,0,0,0,...,6510,6989,7179,7394,7633,8134,8597,9044,9415,9779
7,Belgium,0,0,0,0,0,0,0,0,0,...,9186,9212,9237,9280,9312,9334,9364,9388,9430,9453
8,Germany,0,0,0,0,0,0,0,0,0,...,8203,8228,8261,8283,8309,8372,8428,8470,8504,8530
9,Iran,0,0,0,0,0,0,0,0,0,...,7249,7300,7359,7417,7451,7508,7564,7627,7677,7734
10,Netherlands,0,0,0,0,0,0,0,0,0,...,5775,5788,5811,5822,5830,5856,5871,5903,5931,5951
11,India,0,0,0,0,0,0,0,0,0,...,3584,3726,3868,4024,4172,4344,4534,4711,4980,5185
12,Russia,0,0,0,0,0,0,0,0,0,...,3099,3249,3388,3541,3633,3807,3968,4142,4374,4555
13,Turkey,0,0,0,0,0,0,0,0,0,...,4249,4276,4308,4340,4369,4397,4431,4461,4489,4515
14,China,17,17,24,40,52,76,125,125,162,...,4512,4512,4512,4512,4512,4512,4512,4512,4512,4512

In [7]:
deletedColumn = confirmedCases['index'] 
confirmedCases = confirmedCases.drop('index',axis = 1) # we are droping index(which we renamed earlier(that was countries name so that we can make them as column name)
confirmedCases.columns #we are changing column names to that of index which is 0,1,2,3,4 ...

Index(['1/22/20', '1/23/20', '1/24/20', '1/25/20', '1/26/20', '1/27/20',
       '1/28/20', '1/29/20', '1/30/20', '1/31/20',
       ...
       '5/21/20', '5/22/20', '5/23/20', '5/24/20', '5/25/20', '5/26/20',
       '5/27/20', '5/28/20', '5/29/20', '5/30/20'],
      dtype='object', length=130)

In [8]:
confirmedCases

,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,5/21/20,5/22/20,5/23/20,5/24/20,5/25/20,5/26/20,5/27/20,5/28/20,5/29/20,5/30/20
0,0,0,0,0,0,0,0,0,0,0,...,94702,95978,97086,97719,98219,98912,100417,101616,102809,103776
1,0,0,0,0,0,0,0,0,0,0,...,36042,36393,36675,36793,36914,37048,37460,37837,38161,38376
2,0,0,0,0,0,0,0,0,0,0,...,32486,32616,32735,32785,32877,32955,33072,33142,33229,33340
3,0,0,0,0,0,0,0,0,0,0,...,20047,21048,22013,22666,23473,24512,25598,26754,27878,28834
4,0,0,0,0,0,0,0,0,0,0,...,28167,28241,28284,28317,28407,28480,28546,28611,28663,28720
5,0,0,0,0,0,0,0,0,0,0,...,27940,28628,28678,28752,26834,27117,27117,27119,27121,27125
6,0,0,0,0,0,0,0,0,0,0,...,6510,6989,7179,7394,7633,8134,8597,9044,9415,9779
7,0,0,0,0,0,0,0,0,0,0,...,9186,9212,9237,9280,9312,9334,9364,9388,9430,9453
8,0,0,0,0,0,0,0,0,0,0,...,8203,8228,8261,8283,8309,8372,8428,8470,8504,8530
9,0,0,0,0,0,0,0,0,0,0,...,7249,7300,7359,7417,7451,7508,7564,7627,7677,7734
10,0,0,0,0,0,0,0,0,0,0,...,5775,5788,5811,5822,5830,5856,5871,5903,5931,5951
11,0,0,0,0,0,0,0,0,0,0,...,3584,3726,3868,4024,4172,4344,4534,4711,4980,5185
12,0,0,0,0,0,0,0,0,0,0,...,3099,3249,3388,3541,3633,3807,3968,4142,4374,4555
13,0,0,0,0,0,0,0,0,0,0,...,4249,4276,4308,4340,4369,4397,4431,4461,4489,4515
14,17,17,24,40,52,76,125,125,162,204,...,4512,4512,4512,4512,4512,4512,4512,4512,4512,4512

In [9]:
confirmedCases = confirmedCases.transpose() # now we will take transpose so that data will become our index to have 0,1,2,3 .. as our column
confirmedCases # our next task is to change 0,1,2 ... with countries name that was stored in DeletedColumn above

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
1/22/20,0,0,0,0,0,0,0,0,0,0,0,0,0,0,17
1/23/20,0,0,0,0,0,0,0,0,0,0,0,0,0,0,17
1/24/20,0,0,0,0,0,0,0,0,0,0,0,0,0,0,24
1/25/20,0,0,0,0,0,0,0,0,0,0,0,0,0,0,40
1/26/20,0,0,0,0,0,0,0,0,0,0,0,0,0,0,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5/26/20,98912,37048,32955,24512,28480,27117,8134,9334,8372,7508,5856,4344,3807,4397,4512
5/27/20,100417,37460,33072,25598,28546,27117,8597,9364,8428,7564,5871,4534,3968,4431,4512
5/28/20,101616,37837,33142,26754,28611,27119,9044,9388,8470,7627,5903,4711,4142,4461,4512
5/29/20,102809,38161,33229,27878,28663,27121,9415,9430,8504,7677,5931,4980,4374,4489,4512
5/30/20,103776,38376,33340,28834,28720,27125,9779,9453,8530,7734,5951,5185,4555,4515,4512

In [10]:
confirmedCases.columns = deletedColumn #here we have done it we have renamed our column name with that of countries
confirmedCases

index,US,United Kingdom,Italy,Brazil,France,Spain,Mexico,Belgium,Germany,Iran,Netherlands,India,Russia,Turkey,China
1/22/20,0,0,0,0,0,0,0,0,0,0,0,0,0,0,17
1/23/20,0,0,0,0,0,0,0,0,0,0,0,0,0,0,17
1/24/20,0,0,0,0,0,0,0,0,0,0,0,0,0,0,24
1/25/20,0,0,0,0,0,0,0,0,0,0,0,0,0,0,40
1/26/20,0,0,0,0,0,0,0,0,0,0,0,0,0,0,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5/26/20,98912,37048,32955,24512,28480,27117,8134,9334,8372,7508,5856,4344,3807,4397,4512
5/27/20,100417,37460,33072,25598,28546,27117,8597,9364,8428,7564,5871,4534,3968,4431,4512
5/28/20,101616,37837,33142,26754,28611,27119,9044,9388,8470,7627,5903,4711,4142,4461,4512
5/29/20,102809,38161,33229,27878,28663,27121,9415,9430,8504,7677,5931,4980,4374,4489,4512
5/30/20,103776,38376,33340,28834,28720,27125,9779,9453,8530,7734,5951,5185,4555,4515,4512

In [11]:
confirmedCases = confirmedCases.reset_index() 
confirmedCases
confirmedCases = confirmedCases.rename(columns={'index': 'Date'})
confirmedCases
#here we have reset the index change it from date to number

index,Date,US,United Kingdom,Italy,Brazil,France,Spain,Mexico,Belgium,Germany,Iran,Netherlands,India,Russia,Turkey,China
0,1/22/20,0,0,0,0,0,0,0,0,0,0,0,0,0,0,17
1,1/23/20,0,0,0,0,0,0,0,0,0,0,0,0,0,0,17
2,1/24/20,0,0,0,0,0,0,0,0,0,0,0,0,0,0,24
3,1/25/20,0,0,0,0,0,0,0,0,0,0,0,0,0,0,40
4,1/26/20,0,0,0,0,0,0,0,0,0,0,0,0,0,0,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125,5/26/20,98912,37048,32955,24512,28480,27117,8134,9334,8372,7508,5856,4344,3807,4397,4512
126,5/27/20,100417,37460,33072,25598,28546,27117,8597,9364,8428,7564,5871,4534,3968,4431,4512
127,5/28/20,101616,37837,33142,26754,28611,27119,9044,9388,8470,7627,5903,4711,4142,4461,4512
128,5/29/20,102809,38161,33229,27878,28663,27121,9415,9430,8504,7677,5931,4980,4374,4489,4512
129,5/30/20,103776,38376,33340,28834,28720,27125,9779,9453,8530,7734,5951,5185,4555,4515,4512

In [12]:
df = confirmedCases['Date']
df.dtype
#df.to_csv("Date.csv") # this error is because we have run above statement twice and it will be solve by re running the program

dtype('O')

In [13]:
countriesName = confirmedCases.iloc[0:0,1:]
CountriesName = []
for i in countriesName:
    CountriesName.append(i)

In [14]:
CountriesName # here we have fetch top 15 countries name

['US',
 'United Kingdom',
 'Italy',
 'Brazil',
 'France',
 'Spain',
 'Mexico',
 'Belgium',
 'Germany',
 'Iran',
 'Netherlands',
 'India',
 'Russia',
 'Turkey',
 'China']

In [ ]:
for j in range(15):
    temp = confirmedCases.iloc[:,j+1:j+2]
    newCases = []
    k = CountriesName[j]
    for i in range(len(temp)):
        if i == 0:
            newCases.append(temp[k][i])
        else:
            if(temp[k][i] - temp[k][i-1] < 0):
                newCases.append(0)
            else:
                newCases.append(temp[k][i] - temp[k][i-1])
    newCases
    newCases = np.array(newCases)
    temp['newCases'] = newCases
    temp.to_csv(CountriesName[j]+".csv",index=False)
    
# this whole statement is saving top 15 countries total cases and new cases in seperate csv files of their name like US.csv,china.csv

In [ ]:
df = pd.read_csv("US.csv") #let examine US data
df
# US == totalCases , newCases per day

In [ ]:
# now our task is to create one python script that will fetch data from above csv at run time and second python script will plot run time data

In [ ]:
# I will run it once again

# Thanks For Watching This Video If You Like It So PLease Share It , Subscribe And Press The Bell Icon