In [1]:
import pandas as pd
import numpy as np

In [2]:
confirmedCases = pd.read_csv("Confirmed.csv")

In [3]:
confirmedCases.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/18/20,5/19/20,5/20/20,5/21/20,5/22/20,5/23/20,5/24/20,5/25/20,5/26/20,5/27/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,7072,7653,8145,8676,9216,9998,10582,11173,11831,12456
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,948,949,964,969,981,989,998,1004,1029,1050
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,7201,7377,7542,7728,7918,8113,8306,8503,8697,8857
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,761,761,762,762,762,762,762,763,763,763
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,50,52,52,58,60,61,69,70,70,71

In [4]:
confirmedCases = confirmedCases.drop(['Province/State','Lat','Long'],axis=1)
confirmedCases = confirmedCases.sort_values(by=['5/27/20'] , ascending = False) 
confirmedCases

,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,5/18/20,5/19/20,5/20/20,5/21/20,5/22/20,5/23/20,5/24/20,5/25/20,5/26/20,5/27/20
225,US,1,1,2,2,5,5,5,5,5,...,1508308,1528568,1551853,1577147,1600937,1622612,1643246,1662302,1680913,1699176
28,Brazil,0,0,0,0,0,0,0,0,0,...,255368,271885,291579,310087,330890,347398,363211,374898,391222,411821
187,Russia,0,0,0,0,0,0,0,0,0,...,290678,299941,308705,317554,326448,335882,344481,353427,362342,370680
223,United Kingdom,0,0,0,0,0,0,0,0,0,...,246406,248818,248293,250908,254195,257154,259559,261184,265227,267240
201,Spain,0,0,0,0,0,0,0,0,0,...,231606,232037,232555,233037,234824,235290,235772,235400,236259,236259
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
248,United Kingdom,0,0,0,0,0,0,0,0,0,...,3,3,3,3,3,3,3,3,3,3
265,Lesotho,0,0,0,0,0,0,0,0,0,...,1,1,1,1,2,2,2,2,2,2
231,Canada,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
258,France,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
78,China,0,0,0,0,0,0,0,0,1,...,1,1,1,1,1,1,1,1,1,1

In [5]:
#confirmedCases = confirmedCases[confirmedCases["Country/Region"] == "Pakistan"]
confirmedCases = confirmedCases.iloc[0:26,:]
confirmedCases

,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,5/18/20,5/19/20,5/20/20,5/21/20,5/22/20,5/23/20,5/24/20,5/25/20,5/26/20,5/27/20
225,US,1,1,2,2,5,5,5,5,5,...,1508308,1528568,1551853,1577147,1600937,1622612,1643246,1662302,1680913,1699176
28,Brazil,0,0,0,0,0,0,0,0,0,...,255368,271885,291579,310087,330890,347398,363211,374898,391222,411821
187,Russia,0,0,0,0,0,0,0,0,0,...,290678,299941,308705,317554,326448,335882,344481,353427,362342,370680
223,United Kingdom,0,0,0,0,0,0,0,0,0,...,246406,248818,248293,250908,254195,257154,259559,261184,265227,267240
201,Spain,0,0,0,0,0,0,0,0,0,...,231606,232037,232555,233037,234824,235290,235772,235400,236259,236259
137,Italy,0,0,0,0,0,0,0,0,0,...,225886,226699,227364,228006,228658,229327,229858,230158,230555,231139
120,Germany,0,0,0,0,0,1,4,4,4,...,176551,177778,178473,179021,179710,179986,180328,180600,181200,181524
116,France,0,0,2,3,3,3,4,5,5,...,177554,178428,179069,179306,179645,179964,179859,180166,179887,180044
213,Turkey,0,0,0,0,0,0,0,0,0,...,150593,151615,152587,153548,154500,155686,156827,157814,158762,159797
131,India,0,0,0,0,0,0,0,0,1,...,100328,106475,112028,118226,124794,131423,138536,144950,150793,158086
133,Iran,0,0,0,0,0,0,0,0,0,...,122492,124603,126949,129341,131652,133521,135701,137724,139511,141591
181,Peru,0,0,0,0,0,0,0,0,0,...,94933,99483,104020,108769,111698,115754,119959,123979,129751,135905
48,Chile,0,0,0,0,0,0,0,0,0,...,46059,49579,53617,57581,61857,65393,69102,73997,77961,82289
192,Saudi Arabia,0,0,0,0,0,0,0,0,0,...,57345,59854,62545,65077,67719,70161,72560,74795,76726,78541
158,Mexico,0,0,0,0,0,0,0,0,0,...,51633,54346,56594,59567,62527,65856,68620,71105,74560,78023
62,China,444,444,549,761,1058,1423,3554,3554,4903,...,68135,68135,68135,68135,68135,68135,68135,68135,68135,68135
177,Pakistan,0,0,0,0,0,0,0,0,0,...,42125,43966,45898,48091,50694,52437,54601,56349,57705,59151
23,Belgium,0,0,0,0,0,0,0,0,0,...,55559,55791,55983,56235,56511,56810,57092,57342,57455,57592
44,Canada,0,0,0,0,0,0,0,0,0,...,43636,44206,44784,45504,46150,46847,47420,47993,48607,49148
185,Qatar,0,0,0,0,0,0,0,0,0,...,33969,35606,37097,38651,40481,42213,43714,45465,47207,48947
169,Netherlands,0,0,0,0,0,0,0,0,0,...,44141,44249,44447,44700,44888,45064,45236,45445,45578,45768
22,Belarus,0,0,0,0,0,0,0,0,0,...,30572,31508,32426,33371,34303,35244,36198,37144,38059,38956
20,Bangladesh,0,0,0,0,0,0,0,0,0,...,23870,25121,26738,28511,30205,32078,33610,35585,36751,38292
97,Ecuador,0,0,0,0,0,0,0,0,0,...,33582,34151,34854,35306,35828,36258,36756,37355,37355,38103
205,Sweden,0,0,0,0,0,0,0,0,0,...,30377,30799,31523,32172,32809,33188,33459,33843,34440,35088
196,Singapore,0,1,3,3,4,5,7,7,10,...,28343,28794,29364,29812,30426,31068,31616,31960,32343,32876

In [6]:
confirmedCases

,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,5/18/20,5/19/20,5/20/20,5/21/20,5/22/20,5/23/20,5/24/20,5/25/20,5/26/20,5/27/20
225,US,1,1,2,2,5,5,5,5,5,...,1508308,1528568,1551853,1577147,1600937,1622612,1643246,1662302,1680913,1699176
28,Brazil,0,0,0,0,0,0,0,0,0,...,255368,271885,291579,310087,330890,347398,363211,374898,391222,411821
187,Russia,0,0,0,0,0,0,0,0,0,...,290678,299941,308705,317554,326448,335882,344481,353427,362342,370680
223,United Kingdom,0,0,0,0,0,0,0,0,0,...,246406,248818,248293,250908,254195,257154,259559,261184,265227,267240
201,Spain,0,0,0,0,0,0,0,0,0,...,231606,232037,232555,233037,234824,235290,235772,235400,236259,236259
137,Italy,0,0,0,0,0,0,0,0,0,...,225886,226699,227364,228006,228658,229327,229858,230158,230555,231139
120,Germany,0,0,0,0,0,1,4,4,4,...,176551,177778,178473,179021,179710,179986,180328,180600,181200,181524
116,France,0,0,2,3,3,3,4,5,5,...,177554,178428,179069,179306,179645,179964,179859,180166,179887,180044
213,Turkey,0,0,0,0,0,0,0,0,0,...,150593,151615,152587,153548,154500,155686,156827,157814,158762,159797
131,India,0,0,0,0,0,0,0,0,1,...,100328,106475,112028,118226,124794,131423,138536,144950,150793,158086
133,Iran,0,0,0,0,0,0,0,0,0,...,122492,124603,126949,129341,131652,133521,135701,137724,139511,141591
181,Peru,0,0,0,0,0,0,0,0,0,...,94933,99483,104020,108769,111698,115754,119959,123979,129751,135905
48,Chile,0,0,0,0,0,0,0,0,0,...,46059,49579,53617,57581,61857,65393,69102,73997,77961,82289
192,Saudi Arabia,0,0,0,0,0,0,0,0,0,...,57345,59854,62545,65077,67719,70161,72560,74795,76726,78541
158,Mexico,0,0,0,0,0,0,0,0,0,...,51633,54346,56594,59567,62527,65856,68620,71105,74560,78023
62,China,444,444,549,761,1058,1423,3554,3554,4903,...,68135,68135,68135,68135,68135,68135,68135,68135,68135,68135
177,Pakistan,0,0,0,0,0,0,0,0,0,...,42125,43966,45898,48091,50694,52437,54601,56349,57705,59151
23,Belgium,0,0,0,0,0,0,0,0,0,...,55559,55791,55983,56235,56511,56810,57092,57342,57455,57592
44,Canada,0,0,0,0,0,0,0,0,0,...,43636,44206,44784,45504,46150,46847,47420,47993,48607,49148
185,Qatar,0,0,0,0,0,0,0,0,0,...,33969,35606,37097,38651,40481,42213,43714,45465,47207,48947
169,Netherlands,0,0,0,0,0,0,0,0,0,...,44141,44249,44447,44700,44888,45064,45236,45445,45578,45768
22,Belarus,0,0,0,0,0,0,0,0,0,...,30572,31508,32426,33371,34303,35244,36198,37144,38059,38956
20,Bangladesh,0,0,0,0,0,0,0,0,0,...,23870,25121,26738,28511,30205,32078,33610,35585,36751,38292
97,Ecuador,0,0,0,0,0,0,0,0,0,...,33582,34151,34854,35306,35828,36258,36756,37355,37355,38103
205,Sweden,0,0,0,0,0,0,0,0,0,...,30377,30799,31523,32172,32809,33188,33459,33843,34440,35088
196,Singapore,0,1,3,3,4,5,7,7,10,...,28343,28794,29364,29812,30426,31068,31616,31960,32343,32876

In [7]:
confirmedCases = confirmedCases.reset_index()
confirmedCases = confirmedCases.drop(['index'],axis=1)
confirmedCases = confirmedCases.rename(columns={'Country/Region': 'index'})
confirmedCases

,index,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,5/18/20,5/19/20,5/20/20,5/21/20,5/22/20,5/23/20,5/24/20,5/25/20,5/26/20,5/27/20
0,US,1,1,2,2,5,5,5,5,5,...,1508308,1528568,1551853,1577147,1600937,1622612,1643246,1662302,1680913,1699176
1,Brazil,0,0,0,0,0,0,0,0,0,...,255368,271885,291579,310087,330890,347398,363211,374898,391222,411821
2,Russia,0,0,0,0,0,0,0,0,0,...,290678,299941,308705,317554,326448,335882,344481,353427,362342,370680
3,United Kingdom,0,0,0,0,0,0,0,0,0,...,246406,248818,248293,250908,254195,257154,259559,261184,265227,267240
4,Spain,0,0,0,0,0,0,0,0,0,...,231606,232037,232555,233037,234824,235290,235772,235400,236259,236259
5,Italy,0,0,0,0,0,0,0,0,0,...,225886,226699,227364,228006,228658,229327,229858,230158,230555,231139
6,Germany,0,0,0,0,0,1,4,4,4,...,176551,177778,178473,179021,179710,179986,180328,180600,181200,181524
7,France,0,0,2,3,3,3,4,5,5,...,177554,178428,179069,179306,179645,179964,179859,180166,179887,180044
8,Turkey,0,0,0,0,0,0,0,0,0,...,150593,151615,152587,153548,154500,155686,156827,157814,158762,159797
9,India,0,0,0,0,0,0,0,0,1,...,100328,106475,112028,118226,124794,131423,138536,144950,150793,158086
10,Iran,0,0,0,0,0,0,0,0,0,...,122492,124603,126949,129341,131652,133521,135701,137724,139511,141591
11,Peru,0,0,0,0,0,0,0,0,0,...,94933,99483,104020,108769,111698,115754,119959,123979,129751,135905
12,Chile,0,0,0,0,0,0,0,0,0,...,46059,49579,53617,57581,61857,65393,69102,73997,77961,82289
13,Saudi Arabia,0,0,0,0,0,0,0,0,0,...,57345,59854,62545,65077,67719,70161,72560,74795,76726,78541
14,Mexico,0,0,0,0,0,0,0,0,0,...,51633,54346,56594,59567,62527,65856,68620,71105,74560,78023
15,China,444,444,549,761,1058,1423,3554,3554,4903,...,68135,68135,68135,68135,68135,68135,68135,68135,68135,68135
16,Pakistan,0,0,0,0,0,0,0,0,0,...,42125,43966,45898,48091,50694,52437,54601,56349,57705,59151
17,Belgium,0,0,0,0,0,0,0,0,0,...,55559,55791,55983,56235,56511,56810,57092,57342,57455,57592
18,Canada,0,0,0,0,0,0,0,0,0,...,43636,44206,44784,45504,46150,46847,47420,47993,48607,49148
19,Qatar,0,0,0,0,0,0,0,0,0,...,33969,35606,37097,38651,40481,42213,43714,45465,47207,48947
20,Netherlands,0,0,0,0,0,0,0,0,0,...,44141,44249,44447,44700,44888,45064,45236,45445,45578,45768
21,Belarus,0,0,0,0,0,0,0,0,0,...,30572,31508,32426,33371,34303,35244,36198,37144,38059,38956
22,Bangladesh,0,0,0,0,0,0,0,0,0,...,23870,25121,26738,28511,30205,32078,33610,35585,36751,38292
23,Ecuador,0,0,0,0,0,0,0,0,0,...,33582,34151,34854,35306,35828,36258,36756,37355,37355,38103
24,Sweden,0,0,0,0,0,0,0,0,0,...,30377,30799,31523,32172,32809,33188,33459,33843,34440,35088
25,Singapore,0,1,3,3,4,5,7,7,10,...,28343,28794,29364,29812,30426,31068,31616,31960,32343,32876

In [8]:
deletedColumn = confirmedCases['index']
confirmedCases = confirmedCases.drop('index',axis = 1)
confirmedCases.columns

Index(['1/22/20', '1/23/20', '1/24/20', '1/25/20', '1/26/20', '1/27/20',
       '1/28/20', '1/29/20', '1/30/20', '1/31/20',
       ...
       '5/18/20', '5/19/20', '5/20/20', '5/21/20', '5/22/20', '5/23/20',
       '5/24/20', '5/25/20', '5/26/20', '5/27/20'],
      dtype='object', length=127)

In [9]:
confirmedCases
#deletedRows = confirmedCases.iloc[:,:35]

,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,5/18/20,5/19/20,5/20/20,5/21/20,5/22/20,5/23/20,5/24/20,5/25/20,5/26/20,5/27/20
0,1,1,2,2,5,5,5,5,5,7,...,1508308,1528568,1551853,1577147,1600937,1622612,1643246,1662302,1680913,1699176
1,0,0,0,0,0,0,0,0,0,0,...,255368,271885,291579,310087,330890,347398,363211,374898,391222,411821
2,0,0,0,0,0,0,0,0,0,2,...,290678,299941,308705,317554,326448,335882,344481,353427,362342,370680
3,0,0,0,0,0,0,0,0,0,2,...,246406,248818,248293,250908,254195,257154,259559,261184,265227,267240
4,0,0,0,0,0,0,0,0,0,0,...,231606,232037,232555,233037,234824,235290,235772,235400,236259,236259
5,0,0,0,0,0,0,0,0,0,2,...,225886,226699,227364,228006,228658,229327,229858,230158,230555,231139
6,0,0,0,0,0,1,4,4,4,5,...,176551,177778,178473,179021,179710,179986,180328,180600,181200,181524
7,0,0,2,3,3,3,4,5,5,5,...,177554,178428,179069,179306,179645,179964,179859,180166,179887,180044
8,0,0,0,0,0,0,0,0,0,0,...,150593,151615,152587,153548,154500,155686,156827,157814,158762,159797
9,0,0,0,0,0,0,0,0,1,1,...,100328,106475,112028,118226,124794,131423,138536,144950,150793,158086
10,0,0,0,0,0,0,0,0,0,0,...,122492,124603,126949,129341,131652,133521,135701,137724,139511,141591
11,0,0,0,0,0,0,0,0,0,0,...,94933,99483,104020,108769,111698,115754,119959,123979,129751,135905
12,0,0,0,0,0,0,0,0,0,0,...,46059,49579,53617,57581,61857,65393,69102,73997,77961,82289
13,0,0,0,0,0,0,0,0,0,0,...,57345,59854,62545,65077,67719,70161,72560,74795,76726,78541
14,0,0,0,0,0,0,0,0,0,0,...,51633,54346,56594,59567,62527,65856,68620,71105,74560,78023
15,444,444,549,761,1058,1423,3554,3554,4903,5806,...,68135,68135,68135,68135,68135,68135,68135,68135,68135,68135
16,0,0,0,0,0,0,0,0,0,0,...,42125,43966,45898,48091,50694,52437,54601,56349,57705,59151
17,0,0,0,0,0,0,0,0,0,0,...,55559,55791,55983,56235,56511,56810,57092,57342,57455,57592
18,0,0,0,0,0,0,0,0,0,0,...,43636,44206,44784,45504,46150,46847,47420,47993,48607,49148
19,0,0,0,0,0,0,0,0,0,0,...,33969,35606,37097,38651,40481,42213,43714,45465,47207,48947
20,0,0,0,0,0,0,0,0,0,0,...,44141,44249,44447,44700,44888,45064,45236,45445,45578,45768
21,0,0,0,0,0,0,0,0,0,0,...,30572,31508,32426,33371,34303,35244,36198,37144,38059,38956
22,0,0,0,0,0,0,0,0,0,0,...,23870,25121,26738,28511,30205,32078,33610,35585,36751,38292
23,0,0,0,0,0,0,0,0,0,0,...,33582,34151,34854,35306,35828,36258,36756,37355,37355,38103
24,0,0,0,0,0,0,0,0,0,1,...,30377,30799,31523,32172,32809,33188,33459,33843,34440,35088
25,0,1,3,3,4,5,7,7,10,13,...,28343,28794,29364,29812,30426,31068,31616,31960,32343,32876

In [10]:
confirmedCases = confirmedCases.transpose()
confirmedCases

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
1/22/20,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/23/20,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1/24/20,2,0,0,0,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,3
1/25/20,2,0,0,0,0,0,0,3,0,0,...,0,0,0,0,0,0,0,0,0,3
1/26/20,5,0,0,0,0,0,0,3,0,0,...,0,0,0,0,0,0,0,0,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5/23/20,1622612,347398,335882,257154,235290,229327,179986,179964,155686,131423,...,52437,56810,46847,42213,45064,35244,32078,36258,33188,31068
5/24/20,1643246,363211,344481,259559,235772,229858,180328,179859,156827,138536,...,54601,57092,47420,43714,45236,36198,33610,36756,33459,31616
5/25/20,1662302,374898,353427,261184,235400,230158,180600,180166,157814,144950,...,56349,57342,47993,45465,45445,37144,35585,37355,33843,31960
5/26/20,1680913,391222,362342,265227,236259,230555,181200,179887,158762,150793,...,57705,57455,48607,47207,45578,38059,36751,37355,34440,32343
5/27/20,1699176,411821,370680,267240,236259,231139,181524,180044,159797,158086,...,59151,57592,49148,48947,45768,38956,38292,38103,35088,32876

In [11]:
confirmedCases.columns = deletedColumn
confirmedCases

index,US,Brazil,Russia,United Kingdom,Spain,Italy,Germany,France,Turkey,India,...,Pakistan,Belgium,Canada,Qatar,Netherlands,Belarus,Bangladesh,Ecuador,Sweden,Singapore
1/22/20,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/23/20,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1/24/20,2,0,0,0,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,3
1/25/20,2,0,0,0,0,0,0,3,0,0,...,0,0,0,0,0,0,0,0,0,3
1/26/20,5,0,0,0,0,0,0,3,0,0,...,0,0,0,0,0,0,0,0,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5/23/20,1622612,347398,335882,257154,235290,229327,179986,179964,155686,131423,...,52437,56810,46847,42213,45064,35244,32078,36258,33188,31068
5/24/20,1643246,363211,344481,259559,235772,229858,180328,179859,156827,138536,...,54601,57092,47420,43714,45236,36198,33610,36756,33459,31616
5/25/20,1662302,374898,353427,261184,235400,230158,180600,180166,157814,144950,...,56349,57342,47993,45465,45445,37144,35585,37355,33843,31960
5/26/20,1680913,391222,362342,265227,236259,230555,181200,179887,158762,150793,...,57705,57455,48607,47207,45578,38059,36751,37355,34440,32343
5/27/20,1699176,411821,370680,267240,236259,231139,181524,180044,159797,158086,...,59151,57592,49148,48947,45768,38956,38292,38103,35088,32876

In [12]:
confirmedCases = confirmedCases.reset_index()
confirmedCases
confirmedCases = confirmedCases.rename(columns={'index': 'Date'})
confirmedCases

index,Date,US,Brazil,Russia,United Kingdom,Spain,Italy,Germany,France,Turkey,...,Pakistan,Belgium,Canada,Qatar,Netherlands,Belarus,Bangladesh,Ecuador,Sweden,Singapore
0,1/22/20,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1/23/20,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,1/24/20,2,0,0,0,0,0,0,2,0,...,0,0,0,0,0,0,0,0,0,3
3,1/25/20,2,0,0,0,0,0,0,3,0,...,0,0,0,0,0,0,0,0,0,3
4,1/26/20,5,0,0,0,0,0,0,3,0,...,0,0,0,0,0,0,0,0,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,5/23/20,1622612,347398,335882,257154,235290,229327,179986,179964,155686,...,52437,56810,46847,42213,45064,35244,32078,36258,33188,31068
123,5/24/20,1643246,363211,344481,259559,235772,229858,180328,179859,156827,...,54601,57092,47420,43714,45236,36198,33610,36756,33459,31616
124,5/25/20,1662302,374898,353427,261184,235400,230158,180600,180166,157814,...,56349,57342,47993,45465,45445,37144,35585,37355,33843,31960
125,5/26/20,1680913,391222,362342,265227,236259,230555,181200,179887,158762,...,57705,57455,48607,47207,45578,38059,36751,37355,34440,32343
126,5/27/20,1699176,411821,370680,267240,236259,231139,181524,180044,159797,...,59151,57592,49148,48947,45768,38956,38292,38103,35088,32876

In [13]:
countriesName = confirmedCases.iloc[0:0,1:]
CountriesName = []
for i in countriesName:
    CountriesName.append(i)

In [14]:
CountriesName

['US',
 'Brazil',
 'Russia',
 'United Kingdom',
 'Spain',
 'Italy',
 'Germany',
 'France',
 'Turkey',
 'India',
 'Iran',
 'Peru',
 'Chile',
 'Saudi Arabia',
 'Mexico',
 'China',
 'Pakistan',
 'Belgium',
 'Canada',
 'Qatar',
 'Netherlands',
 'Belarus',
 'Bangladesh',
 'Ecuador',
 'Sweden',
 'Singapore']

In [15]:
for j in range(26):
    temp = confirmedCases.iloc[:,j+1:j+2]
    newCases = []
    k = CountriesName[j]
    for i in range(len(temp)):
        if i == 0:
            newCases.append(temp[k][i])
        else:
            newCases.append(temp[k][i] - temp[k][i-1])
    newCases
    newCases = np.array(newCases)
    temp['newCases'] = newCases
    temp.to_csv(CountriesName[j]+".csv",index=False)

In [16]:
df = pd.read_csv("Pakistan.csv")
df

     Pakistan  newCases
0           0         0
1           0         0
2           0         0
3           0         0
4           0         0
..        ...       ...
122     52437      1743
123     54601      2164
124     56349      1748
125     57705      1356
126     59151      1446

[127 rows x 2 columns]